# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

In [1]:
import pandas as pd
import numpy as np

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [2]:
application = pd.read_csv('demo01.csv')
application.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [3]:
#Avaliando as variáveis
application.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [4]:
application.describe()

,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia
count,16650.000000,16650.000000,16650.000000,16650.0,16650.000000,16650.000000,16650.000000,16650.000000
mean,0.433153,44.319513,-161.416446,1.0,0.225225,0.295676,0.088889,2.211892
std,0.739395,11.228837,376.843912,0.0,0.417743,0.456360,0.284592,0.903755
min,0.000000,22.030137,-1000.665753,1.0,0.000000,0.000000,0.000000,1.000000
25%,0.000000,34.873973,1.183562,1.0,0.000000,0.000000,0.000000,2.000000
50%,0.000000,43.493151,4.691781,1.0,0.000000,0.000000,0.000000,2.000000
75%,1.000000,53.410959,9.088356,1.0,0.000000,1.000000,0.000000,3.000000
max,14.000000,68.909589,42.906849,1.0,1.000000,1.000000,1.000000,15.000000

In [5]:
#Qtde de missings em cada variável
application.isna().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [6]:
#distribuição da variável 'mau'
application['mau'].value_counts()

False    16260
True       390
Name: mau, dtype: int64

In [7]:
#Distribuição percentual da variável target
application['mau'].value_counts(normalize = True)

False    0.976577
True     0.023423
Name: mau, dtype: float64

---

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [8]:
nomes = list(application.columns)
nomes

['sexo',
 'posse_de_veiculo',
 'posse_de_imovel',
 'qtd_filhos',
 'tipo_renda',
 'educacao',
 'estado_civil',
 'tipo_residencia',
 'idade',
 'tempo_emprego',
 'possui_celular',
 'possui_fone_comercial',
 'possui_fone',
 'possui_email',
 'qt_pessoas_residencia',
 'mau']

In [9]:
tipo_de_dados = []
d_types = list(map(str, application.dtypes))

for tipos in d_types:
    if tipos == "object":
        tipo_de_dados.append('string')
    if tipos == "int64":
        tipo_de_dados.append('inteiro')
    if tipos == "float64":
        tipo_de_dados.append('float')
    if tipos == "bool":
        tipo_de_dados.append('booleano')
tipo_de_dados

['string',
 'string',
 'string',
 'inteiro',
 'string',
 'string',
 'string',
 'string',
 'float',
 'float',
 'inteiro',
 'inteiro',
 'inteiro',
 'inteiro',
 'float',
 'booleano']

In [10]:
qtd_categorias = []
for coluna in nomes: 
    n = application[coluna].nunique()
    qtd_categorias.append(n)
qtd_categorias

[2, 2, 2, 8, 5, 5, 5, 6, 5298, 3005, 1, 2, 2, 2, 9, 2]

In [11]:
d = {'nomes': nomes, 'tipo-de_dados': tipo_de_dados, 'qtd_categorias': qtd_categorias}
df = pd.DataFrame(data = d)
df

                    nomes tipo-de_dados  qtd_categorias
0                    sexo        string               2
1        posse_de_veiculo        string               2
2         posse_de_imovel        string               2
3              qtd_filhos       inteiro               8
4              tipo_renda        string               5
5                educacao        string               5
6            estado_civil        string               5
7         tipo_residencia        string               6
8                   idade         float            5298
9           tempo_emprego         float            3005
10         possui_celular       inteiro               1
11  possui_fone_comercial       inteiro               2
12            possui_fone       inteiro               2
13           possui_email       inteiro               2
14  qt_pessoas_residencia         float               9
15                    mau      booleano               2

---

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

### Tratamento dos dados

In [21]:
application_encode = application
application_encode.head(2)

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False

#### Parte 1. Atribuindo valores inteiros {0, 1} para dados categorizados com apenas duas categorias

* Variável **sexo**

In [22]:
application_encode['sexo' ].unique()

array(['M', 'F'], dtype=object)

In [23]:
application_encode['sexo'] = application_encode['sexo'].map({'M': 1, 'F': 0})
application_encode['sexo' ].unique()

array([1, 0], dtype=int64)

* Variável **posse_de_veiculo**

In [24]:
application_encode['posse_de_veiculo'].unique()

array(['Y', 'N'], dtype=object)

In [25]:
application_encode['posse_de_veiculo'] = application_encode['posse_de_veiculo'].map({'Y': 1, 'N': 0})
application_encode['posse_de_veiculo'].unique()

array([1, 0], dtype=int64)

* Variável **posse_de_imovel**

In [26]:
application_encode['posse_de_imovel'].unique()

array(['Y', 'N'], dtype=object)

In [27]:
application_encode['posse_de_imovel'] = application_encode['posse_de_imovel'].map({'Y': 1, 'N': 0})
application_encode['posse_de_imovel'].unique()

array([1, 0], dtype=int64)

#### Parte 2. Mudando tipo de dados booleanos para inteiro

In [28]:
application_encode['mau'] = application_encode['mau'].astype(int)

#### Parte 3. Mudando dados do tipo float que decrevem qtdes inteiras para tipo apropriado

In [29]:
application_encode['idade'] = application_encode['idade'].astype(int)
application_encode['tempo_emprego'] = application_encode['tempo_emprego'].astype(int)
application_encode['qt_pessoas_residencia'] = application_encode['qt_pessoas_residencia'].astype(int)

application_encode.dtypes

sexo                      int64
posse_de_veiculo          int64
posse_de_imovel           int64
qtd_filhos                int64
tipo_renda               object
educacao                 object
estado_civil             object
tipo_residencia          object
idade                     int32
tempo_emprego             int32
possui_celular            int64
possui_fone_comercial     int64
possui_fone               int64
possui_email              int64
qt_pessoas_residencia     int32
mau                       int32
dtype: object

#### Parte 4. Transformando dados categóricos com mais de duas categorias em dummies

In [30]:
application_encode = pd.get_dummies(application, 
                                    columns = ['tipo_renda',
                                               'educacao',
                                               'estado_civil',
                                               'tipo_residencia',],
                                    drop_first = True)
application_encode.head(10)

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,1,1,1,0,58,3,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
1,0,0,1,0,52,8,1,0,1,1,...,1,0,0,1,0,1,0,0,0,0
2,0,0,1,0,52,8,1,0,1,1,...,1,0,0,1,0,1,0,0,0,0
3,1,1,1,0,46,2,1,1,1,1,...,0,1,0,0,0,1,0,0,0,0
4,0,1,0,0,29,3,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
5,0,1,0,0,29,3,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
6,0,0,1,0,27,4,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
7,0,0,1,0,27,4,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
8,0,0,1,1,30,4,1,0,0,0,...,1,0,0,1,0,1,0,0,0,0
9,0,0,1,1,30,4,1,0,0,0,...,1,0,0,1,0,1,0,0,0,0

---

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [31]:
tab_cruzada = pd.crosstab([application_encode['posse_de_veiculo'], 
                           application_encode['possui_email']],
                           application_encode['mau'],
                           normalize = 'columns')
tab_cruzada.style.format('{:.2%}')

Dentre aqueles considerados maus pagadores, cerca de 63% desse grupo não possuem carro. No entanto, cerca de 92% dos aplicantes dentro desse grupo não possuem e-mail. Isso significa que o fato de o aplicante não possuir e-mail, torna-o mais provável de ser um mau pagador do que se considerássemos o fato dele não possuir um carro. Uma justificativa plausível é que o e-mail pode ser utilizado como um dos meios de cobrança dos bancos. O atraso ou o não recebimento da fatura por correspondência (mudança de endereço, extravio, etc.) poderia implicar em atrasos no seu pagamento.

---

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [33]:
application_encode.to_csv("application_encode.csv", index = False)

---